HallBooking/WebContent/wsdl/Service_Call.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicecall.mcds5510.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicecall.mcds5510.com" xmlns:intf="http://servicecall.mcds5510.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://servicecall.mcds5510.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="sendMail">
    <complexType>
     <sequence>
      <element name="eMailid" type="xsd:string"/>
      <element name="message" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sendMailResponse">
    <complexType>
     <sequence>
      <element name="sendMailReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="sendMailRequest">

      <wsdl:part element="impl:sendMail" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sendMailResponse">

      <wsdl:part element="impl:sendMailResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="Service_Call">

      <wsdl:operation name="sendMail">

         <wsdl:input message="impl:sendMailRequest" name="sendMailRequest">

       </wsdl:input>

         <wsdl:output message="impl:sendMailResponse" name="sendMailResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="Service_CallSoapBinding" type="impl:Service_Call">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="sendMail">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sendMailRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sendMailResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="Service_CallService">

      <wsdl:port binding="impl:Service_CallSoapBinding" name="Service_Call">

         <wsdlsoap:address location="http://localhost:8080/HallBooking/services/Service_Call"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
